.about{
  height: 100lvh;
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
}

.description{
  width: 50vw;
  display: flex;
  flex-direction: column;
}

.description a{
  text-decoration: none;
  text-align: center;
  padding: 0.5vw;
  background-color: #FF0066;
  width: fit-content;
  border-radius: 3vw;
  color: white;
  margin-top: 2vh;
  margin: 2dvh auto 0;
  font-size: 1.5vw;
  transition: transform .3s;
  font-weight: 500;
}

.description a:hover{
  transform: scale(1.2);
}

.description p{
  color: white;
  font-size: 1.7vw;
  padding: 3.5vw;
  border-radius: 3.5vw;
  text-align: justify;
  width: 90%;
  margin: 0 auto;
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  font-weight: 300;
}

.aboutPhoto{
  width: 50vw;
  text-align: center;
}

.aboutPhoto img{
  height: 75vh;
}

@media screen and (max-width: 960px){
  .about{
    height: 100lvh;
    flex-direction: column;
    justify-content: center;
    align-items: initial;
  }

  .description p{
    font-size: 4vw;
  }

  .description a{
    font-size: 4vw;
    padding: 1vw;
  }

  .description{
    width: 100vw;
    display: flex;
    flex-direction: column;
    margin-left: auto;
  }
  

  .aboutPhoto{
    width: 100vw;
    height: fit-content;
  }

  .aboutPhoto img{
    height: 50lvh;
    margin-top: 3lvh;
    margin-right: 11%;
  }

}