.landingPage{
  height: 100vh;
  display: flex;
  align-items: center;
  margin: 0 auto;
  position: relative;
}

.tittle{
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin: 0 auto;
}

.text{
  text-align: center;
  color: white;
  z-index: 1;
  animation: fade-right 2s;
}

.text h1{
  font-size: 4vw;
}

.tittle h2{
  font-weight: 200;
  font-size: 2vw;
  animation: fade-right 2s;
}

.shape > *{
  height: 95%;
  position: absolute;
  left: 77%;
  bottom: 21.5%;
  animation: pop 1.5s;
}

.text i{
  font-size: 2vw;
  background-color: white;
  padding: 0.65vw;
  border-radius: 50%;
  color: var(--purple);
  animation: fade-up 2s;
  transition: all 450ms;
}

.text i:hover{
  background-color: var(--purple);
  color: white;
}

.socialMedia{
  margin: 0 auto;
  width: 25%;
  justify-content: space-around;
  display: flex;
  margin-top: 1vw;
  align-items: center;
}

.image{
  width: 50vw;
  text-align: center;
}

.image img{
  height: 70vh;
  margin-top: 2vh;
  animation: float ease-in-out 5s infinite;
}


@keyframes float {
  50%{
    transform: translateY(3vh);
  }
}

@keyframes fade-right{
  0%{
    transform: translateX(-100vw);
  }

  100%{
    transform: translateX(0);
  }
}

@keyframes pop {
  0%{
    transform: scale(0);
  }
  100%{
    transform: scale(1);
  }
}



@media screen and (max-width: 768px){

  .landingPage{
    flex-direction: column;
    justify-content: center;
    height: 100svh;
  }

  .text h1{
    font-size: 9vw;
  }

  .text h2{
    font-size: 4.5vw;
  }

  .text i{
    font-size: 4.5vw;
    padding: 1.4625vw;
  }
  
  .shape > *{
    height: 86.5%;
    bottom: 28.5%;
  }

  .image{
    width: auto;
  }
  .image img{
    height: 60svh;
    margin-top: 3svh;
  }

  .socialMedia{
    margin-top: 5vw;
  }

}