.navbar{
  display: flex;
  justify-content: center;
  height: 3rem;
  align-items: center;
}

.navbar ul{
  display: flex;
  justify-content: space-between;
  list-style: none;
  border-style: solid;
  border-top: none;
  border-left: none;
  border-right: none;
  border-width: 0.15rem;
  padding-bottom: 0.5rem;
  width:35%;
  max-width: 45rem;
  min-width: 30rem;
}

.navbar a{
  text-decoration: none;
  color: black;
  font-size: 1rem;
}

.navbar button{
  border-radius: 1rem;
  border: none;
  background-color: var(--coral);
  padding: 0 0.5rem;
}

.hamburger{
  display: none;
  height: 48px;
}


@media screen and (max-width: 960px){
  header.navbar{
    flex-direction: column;
    justify-content: space-around;
    height: 100vh;
    width: 100vw;
  }

  .hamburger{
    display: flex;
  }

  .navbar ul{
    border: none;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: calc(100% - 48px);
    min-width: 0;
    width: 100%;
    max-width: 100%;
  }

}